.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu 人気
.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu 夢
.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu 試験
.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu 恋愛
.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu スポーツ
.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu マイページ
.main__sidebar__link
  -# = link_to users_path ,class: 'side-bar-link' do
  .main__sidebar__link__box
    %li.main__sidebar__link__box__menu マイページ