= render partial: "header"
.wrapper
  .header
    .header_left
      .header_left_home
        -# = link_to "新規投稿", new_diary_path(@diary)
    .header_right
      .header_right_log
    -#   = link_to new_group_path do
  .diaries
    = render @diaries
    
  .footer
    .footer-last
      %p
        kazuuright © design-kazuu. All kazya reserved.
      