= render partial: "header"
.wrap
  .user-main
    .user-top
      .user-image
        = image_tag @user.image.url, class: 'img-profile' if @user.image.present?
        .user-profile
.wrapper
  .diaries
    = render @diaries
