@import "./reset";

// indexーーーーーーーーーーーーーーーーーーーーーーーーー
body{
  font-family: 'arial unicode ms';
}
// 部分テンプレート  header-----------------------------------
.top-header{
  height: 15vh;
  width: 100vw;
  border-bottom: 1px solid #e6e6e6;
  .header-line{
    background-color: #EEEEEE;
    height: 7vh;
    border-bottom: 1px solid #453523;
    .header-right{
      width: 30%;
      height: 100%;
      float:right;
    }
    .header-left{
      width: 30%;
      height: 100%;
      float: left;
      margin-top: 0;
    }
  }
  .activemessage{
    height: 0.8vh;
    margin: 0 auto;
    background-color: #453523;
    border-bottom: 3px solid #ae8c5f;
  }
  // .nav{
  //   height: 65vh;
  //   .navvar{
  //     height: 100%;
  //     .img1{
  //       width: 100%;
  //       animation: blinkAnime 1s infinite alternate;
  //       height: 100%;
  //       opacity : 0.9;
  //     }
  //     .over{
  //       position   : absolute;                  
  //       box-sizing : border-box;
  //       white-space: nowrap;                   
  //       display    : block;                      
  //       width      : 100%;                      
  //       color      : rgba(0, 0, 0, 0.445);   
  //       background : rgba(255, 255, 255, 0.041);  
  //       top        : 50%;                        
  //       left       : 0;                         
  //       text-align : center;               
  //       transform  : translateY(-50%);        
  //       padding    : 10px;                   
  //       font-size  : 45pt;                   
  //       font-weight: bold;               
  //     }
  //   }
  // }
  .my-parts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
  
    &::after {
      content: "";
      // display: block;
      clear: both;
    }
  
    li {
      float: left;
      // border-left: 1px solid rgba(0, 0, 0, 0.1);
      .user-name{
        color: #DEB887;
      }
      &:first-child {
        border-left: none;
      }
  
      a {
        display: block;
        // padding: .4em .8em;
        margin: 1vh 6vw;
        text-decoration: none;
        color: #333;
        background: #fff;
        text-align: center;
        width: 95%;
        .toukou{
          font-size: 1vh;
          color: #453523;
          float:right;
          // margin-right: 2vw;
        }
        &:hover {
          background: #eee;
        }
      }
    }
  }
} 
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.wrapper{
  background-color: #EEEEEE;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
  .header{
    // border-top: 3px solid #ae8c5f;
    // height: 3vh;
    // background-color: #453523; 
    &__left{
        float: left;
        width: 20vw;
        height: 10vh;
        background-color: #FFFFFF;
    }
  }
  // 部分テンプレートーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .diaries{
    height: 95%;
    width: 90vw;
    overflow: scroll;
    margin: 0 auto;
    background-color:#FFFFFF;
    .diary{
        display: inline-block;
        width: 30%;
      .card-list{
        padding: 5vh 4vw 5vh 5vw;
        width: 100%;
        color:white;
        .card-item{
          display: inline-block;
          width: 92%;
          .card-img{
            position: relative;
            box-shadow: 0 0 5px #cccccc;
            cursor: pointer;
            .img{
              width: 100%;
              height: 25vh;
              // opacity : 0.7;
              border-radius: 5%;
              -webkit-transition: all 1s ease;
              transition: all 1s ease;
              -webkit-filter: blur(0px);
              filter: blur(0px);
            }
            .img:hover{
              -webkit-filter: blur(4px);
              filter: blur(4px);
            }
          }
          .card-title{
            color: #453523;
            font-size: 20px;
            text-align: center;
            height: 3vh;
            font-weight:bold;
          }
          .card-content{
            color: #453523;
            display: inline;
            .content-name{
              float: right;
              color: #DEB887;
            }
          }
        }
      }
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .footer{
    height: 5vh;
    width: 100%;
    background-color:#453523;
    bottom: 0;
    display: flex;
    position: absolute;
    .footer-last{
      height: 5vh;
      width: 50%;
      bottom: 0%;
      margin: 0 auto;
      p{
        margin-top: 2vh;
        color: #ffffff;
        margin-left: 15vw;
        size: 1px;
      }
    }
  }
}
// -------------------------------------------------------

// 新規投稿ページ-----------------------------------------
.contents{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  font-size: 40px;
  position: relative;
  p{
    font-size: 30px;
    margin-top: 0;
    color: #453523;
    font-weight: bolder;
  }
  .date{
   
  }
  .image-space{
    .button{
      width: 10vw;
      height: 6vh;
    }
  }
  
  .posts{
    width: 80vw;
    height: 40vh;
    .content{
      width: 80%;
      height: 80%;
      margin: 20px 0px 0px 0px;
      border: solid 3px #453523;
      font-size: 20px;
    }
  }
  .foot{
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0px;
    .form2{
      margin-top:20vh;
      box-shadow: none;      
      color: #7f4600;     
      background: #ffffff;    
      display: inline-block;
      border-radius : 5%;        
      font-size : 15pt;       
      text-align : center;      
      cursor : pointer;    
      padding: 12px 12px;   
      background : #7f4600;    
      color: #ffffff;    
      line-height: 1em;     
      transition: .3s;        
      box-shadow : 2px 2px 19px #666666;  
      border: 2px solid #7f4600;    
    }
  }
}

// ---------------------------------------------------------

// ユーザープロフィール-----------------------------------------
.wrap{
  width: 100vw;
  .user-main{
    .user-top{
      // height: 30vh;
      .user-image{
        width: 100vw;
        height: 100%;
        .img-profile{
          width: 19vw;
          height: 32vh;
          border-radius:70%;
          margin-left: 5vw;
          margin-top: 10vh;
          border: 4px solid #DEB887;
        }
          .user-profile{
            width:63vw;
            height: 38vh;
            margin-right:7vw ;
            margin-top: 7vh;
            border: 2px solid #DEB887;
            float: right;
          }
      }           
    }
  }
}

// ------------------------------------------------------------

//目標設定ページ--------------------------------------------------

.wrap{
  width: 100vw;
  height: 50vh;
  background-color: #ffffff;
  .wrap-line{
    top: 0;
    width: 100vw;
    height: 8vh;
    border-bottom: 10px solid #453523;
  }
  .user-main{
    height: 80%;
    .user-top{
      height: 40vh;
        .goal-day{
          width: 20%;
          height: 30%;
          border: 3px solid #453523;
          background-color: #DEB887; 
        }
    }
  }
}

// show-------------------------------------------
  .wrapper-down{
    height: calc(100%-119.34px);
    padding: 0 10vw;
    background-color: #EEEEEE;
    .content-image{
      height: 100%;
      background-color:#ffffff;
      overflow: scroll;
      .wrapper-image{
        height: 30vh;
        width: 50vw;
        .image5{
          margin: 5vh 26vh;
          height: 50vh;
          width: 50vw;
          border: 3px solid #DEB887;
        }
      }
      .wrapper-content{
        height: 30%;
        margin-top:30vh;
        padding: 0vh 5vw 5vh 5vw;
        .top-title{
          height: 5vh;
          text-align: center;
          font-size: 2vw;
          color: #333;
        }
      }
      .comment-wrap{
        height: 20vh;
        // background-color: #333;
        .comments{
          width: 10vw;
          height: 10vh;
          margin: 0 auto;
          textarea{
            border: 3px solid #453523;
          }
          input{
            border: 2px solid #DEB887;
          }
        }
        .comment-part{
          height: 20%;
          text-align: center;
          a{
          }
          strong{
            font-size: 1.5vh;
          }
        }
      }
      .button-12{
        height: 5vh;
        margin: 0 auto;
      }
    }
  }

// ----------------------------------------------------------