@import "./reset";
@import "./new";
@import "./users";
@import "./show.scss";
@import "./login.scss";
@import "./signin.scss";
@import "./diary.scss";
// @import "./mainimg.css";
// @import "./style.css";

html{
  width: 100%;
  height: 100%;
  body{
    position: relative;
    font-family: 'arial unicode ms';
  }
}